div .paragraf{
  text-transform: capitalize;
  margin: 2rem 3rem;
  text-align: justify;
}

div .paragraf:hover{
  background-color: black;
  color: white;
  padding: 1rem;
  transition: 1.5s all;
  
}